@font-face {
  font-family: hardboiled-title;
  src: url("fonts/DecoturaICG.ttf");
}

@font-face {
  font-family: hardboiled-text;
  src: url("fonts/Kalam-Regular.ttf");
}

.rollable:hover, .rollable:focus {
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

input[type="text"],
select {
  height: auto;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.02);
  color: #191813;
  margin: 0.2em;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border: 1px solid #111;
  -webkit-box-shadow: 0 0 8px red;
  box-shadow: 0 0 8px red;
}

input[data-dtype="Number"] {
  width: 2em;
}

input:disabled,
select:disabled,
textarea:disabled {
  color: #4b4a44;
}

input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover,
input:disabled:focus,
select:disabled:focus,
textarea:disabled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}

.hardboiled.actor .window-content {
  background: url(images/background-top.png) top left/100% no-repeat, url(images/background-bottom.png) bottom left/100% no-repeat, url(images/background-bg.png) left/2.7% repeat-y, #f5e1bf;
}

.hardboiled.actor header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hardboiled.actor header.sheet-header .traits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 40px 5px 0 15px;
}

.hardboiled.actor header.sheet-header .traits .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
  height: 110px;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  background-color: white;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  border: 5px solid #d0a72e;
  border-radius: 5px;
}

.hardboiled.actor header.sheet-header .traits .trait-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-width: 10px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
  font-size: large;
}

.hardboiled.actor header.sheet-header .traits .trait-fields input {
  font-size: smaller;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .main-traits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
  margin-right: .3em;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .main-traits div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .main-traits label, .hardboiled.actor header.sheet-header .traits .trait-fields .main-traits .tabs, .hardboiled.actor header.sheet-header .traits .trait-fields .main-traits .tabs .item.active, .hardboiled.actor .tabs header.sheet-header .traits .trait-fields .main-traits .item.active {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .main-traits input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .main-traits input[data-dtype="Number"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2.2em;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits label, .hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits .tabs, .hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits .tabs .item.active, .hardboiled.actor .tabs header.sheet-header .traits .trait-fields .secondary-traits .item.active {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.hardboiled.actor header.sheet-header .traits .trait-fields .secondary-traits input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.hardboiled.actor header.sheet-header .chars-attribs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-width: 10px 1px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
  margin-left: 14px;
  margin-right: 5px;
}

.hardboiled.actor header.sheet-header .chars-attribs .characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: x-large;
}

.hardboiled.actor header.sheet-header .chars-attribs .characteristics input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 1.5em;
  font-size: smaller;
}

.hardboiled.actor header.sheet-header .chars-attribs .attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: large;
}

.hardboiled.actor header.sheet-header .chars-attribs .attributes input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 2em;
  font-size: smaller;
}

.hardboiled.item .window-content {
  background: url(images/background-top-plain.png) top left/100% no-repeat, url(images/background-bottom.png) bottom left/100% no-repeat, url(images/background-bg.png) left/2.7% repeat-y, #f5e1bf;
}

.hardboiled.item header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 2px 0 8px;
}

.hardboiled.item header.sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px;
  height: 55px;
  width: 55px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  background-color: white;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  border: 5px solid #d0a72e;
  border-radius: 5px;
}

.hardboiled.item header.sheet-header .header-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-width: 10px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: 0 .3em;
  background-color: white;
  font-size: xx-large;
}

.hardboiled.item header.sheet-header .header-fields input[type="text"] {
  margin: 0;
}

.hardboiled.item .sheet-body {
  border-width: 10px 1px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: 0.5em;
  background-color: white;
  margin: 0px 2px 0 8px;
}

.hardboiled label, .hardboiled label.char-label, .hardboiled div.result label.roll-result, .hardboiled div.result label.roll-success, .hardboiled .tabs, .hardboiled .tabs .item.active {
  font-family: hardboiled-title;
}

.hardboiled label.char-label, .hardboiled div.result label.char-label.roll-result, .hardboiled div.result label.char-label.roll-success, .hardboiled .char-label.tabs, .hardboiled .tabs .char-label.item.active {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
}

.hardboiled label.char-label.rollable:hover, .hardboiled .char-label.rollable.tabs:hover, .hardboiled .tabs .char-label.rollable.item.active:hover, .hardboiled label.char-label.rollable:hover, .hardboiled .char-label.rollable.tabs:hover, .hardboiled .tabs .char-label.rollable.item.active:hover {
  color: darkred;
  text-shadow: 0 0 10px black;
}

.hardboiled .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.hardboiled .sheet-body,
.hardboiled .sheet-body .tab,
.hardboiled .sheet-body .tab .editor {
  height: 100%;
}

.hardboiled .chat-card {
  background: no-repeat top/100% url(images/background-top.png), no-repeat bottom left/100% url(images/background-bottom.png), repeat-y left/2.7% url(images/background-bg.png), #f5e1bf;
}

.hardboiled header.card-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px 5px 0 10px;
}

.hardboiled header.card-header .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-width: 5px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  padding: .05em .15em;
  background-color: white;
}

.hardboiled header.card-header .description .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  background-color: white;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  border: 3px solid #d0a72e;
  border-radius: 3px;
}

.hardboiled header.card-header .description .description-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 150%;
}

.hardboiled div.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 5px 10px 10px;
}

.hardboiled div.result label, .hardboiled div.result label.roll-result, .hardboiled div.result label.roll-success, .hardboiled div.result .tabs, .hardboiled div.result .tabs .item.active, .hardboiled .tabs div.result .item.active {
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  background: lightgrey;
  font-size: 200%;
  margin: 2px;
}

.hardboiled div.result label.roll-result, .hardboiled div.result .roll-result.tabs, .hardboiled div.result .tabs .roll-result.item.active, .hardboiled .tabs div.result .roll-result.item.active {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hardboiled div.result label.roll-result[data-success="true"], .hardboiled div.result .roll-result.tabs[data-success="true"], .hardboiled div.result .tabs .roll-result.item.active[data-success="true"], .hardboiled .tabs div.result .roll-result.item.active[data-success="true"] {
  color: green;
}

.hardboiled div.result label.roll-result[data-success="false"], .hardboiled div.result .roll-result.tabs[data-success="false"], .hardboiled div.result .tabs .roll-result.item.active[data-success="false"], .hardboiled .tabs div.result .roll-result.item.active[data-success="false"] {
  color: darkred;
}

.hardboiled div.result label.roll-success, .hardboiled div.result .roll-success.tabs, .hardboiled div.result .tabs .roll-success.item.active, .hardboiled .tabs div.result .roll-success.item.active {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
}

.hardboiled .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.hardboiled .tabs {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
  height: 40px;
  font-size: x-large;
}

.hardboiled .tabs .item {
  line-height: 40px;
  margin: 0 20px;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  padding: 0 5px 5px 5px;
}

.hardboiled .tabs .item:hover {
  color: darkred;
  text-shadow: 0 0 10px black;
}

.hardboiled .tabs .item.active {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-width: 10px 10px 0 10px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.hardboiled nav.sheet-tabs.tabs {
  border: 0;
  margin: 4px 0 -10px 0;
  height: auto;
}

.hardboiled .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.hardboiled .items-list .item-header {
  font-weight: bold;
}

.hardboiled .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.hardboiled .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.hardboiled .items-list .item img {
  display: block;
}

.hardboiled .items-list .item-name {
  margin: 0;
}

.hardboiled .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.dialog .hardboiled label, .dialog .hardboiled div.result label.roll-result, .dialog .hardboiled div.result label.roll-success, .dialog .hardboiled .tabs, .dialog .hardboiled .tabs .item.active {
  font: large hardboiled-text;
}

#modifier-roll-form {
  margin: 10px 0;
}

#modifier-roll-form label, #modifier-roll-form .hardboiled .tabs, .hardboiled #modifier-roll-form .tabs, #modifier-roll-form .hardboiled .tabs .item.active, .hardboiled .tabs #modifier-roll-form .item.active {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 10px 0 0;
}
