@font-face {
  font-family: hardboiled-title;
  src: url("fonts/DecoturaICG.ttf");
}

.hardboiled .rollable:hover, .hardboiled .rollable:focus, .hardboiled .card-button:hover[data-action], .hardboiled .card-button:focus[data-action] {
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.hardboiled .card-button, .hardboiled .card-result {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 0 3px;
  font-size: small;
  border: 1px solid black;
  border-radius: 3px;
  font-style: normal;
  text-align: center;
}

.hardboiled .toggle-switch {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 0 3px;
  font-size: small;
  line-height: 16px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background: transparent;
  font-style: italic;
  color: grey;
  text-align: center;
}

.hardboiled .switched-on {
  border: 1px solid red;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 4px red;
  box-shadow: 0 0 4px red;
  color: black;
  font-style: normal;
}

.hardboiled .card-button {
  color: black;
  background: lightgray;
}

.hardboiled .card-button[data-action] {
  background: whitesmoke;
}

.hardboiled .card-result {
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
  background: whitesmoke;
  font-size: large;
}

.hardboiled .card-result.success {
  background: green;
}

.hardboiled .card-result.failure {
  background: darkred;
}

.hardboiled .card-result.critical {
  background: blueviolet;
}

.hardboiled .card-result.fumble {
  background: darkorange;
}

.hardboiled input[type="text"],
.hardboiled input[type="number"],
.hardboiled select {
  height: calc(100% - 2px);
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.02);
  color: #191813;
  margin: 0 0.2em;
}

.hardboiled input[type="number"]:hover,
.hardboiled input[type="number"]:focus,
.hardboiled input[type="text"]:hover,
.hardboiled input[type="text"]:focus {
  border: 1px solid #111;
  -webkit-box-shadow: 0 0 8px red;
  box-shadow: 0 0 8px red;
}

.hardboiled input[data-dtype="Number"] {
  width: 2em;
  text-align: right;
}

.hardboiled input:disabled,
.hardboiled select:disabled,
.hardboiled textarea:disabled {
  color: #4b4a44;
}

.hardboiled input:disabled:hover,
.hardboiled select:disabled:hover,
.hardboiled textarea:disabled:hover,
.hardboiled input:disabled:focus,
.hardboiled select:disabled:focus,
.hardboiled textarea:disabled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}

.hardboiled.actor {
  min-width: 672px;
  min-height: 765px;
}

.hardboiled.actor .window-content {
  background: url(images/background-top.png) top left/100% no-repeat, url(images/background-bottom.png) bottom left/100% no-repeat, url(images/background-bg.png) left/2.7% repeat-y, #f5e1bf;
  padding: 40px 5px 15px 20px;
}

.hardboiled.actor .window-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.hardboiled.actor .window-content form header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: visible;
}

.hardboiled.actor .window-content form header.sheet-header .traits {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.hardboiled.actor .window-content form header.sheet-header .traits .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin: 0 5px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: white;
  border: 5px solid #d0a72e;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
}

.hardboiled.actor .window-content form header.sheet-header .traits .trait-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-width: 10px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
  font-size: large;
}

.hardboiled.actor .window-content form header.sheet-header .traits .trait-fields div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.1em 0;
}

.hardboiled.actor .window-content form header.sheet-header .traits .trait-fields div label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.actor .window-content form header.sheet-header .traits .trait-fields div input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: smaller;
}

.hardboiled.actor .window-content form header.sheet-header .traits .trait-fields div input[data-dtype="Number"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2.2em;
}

.hardboiled.actor .window-content form header.sheet-header .chars-attribs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-width: 10px 1px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
}

.hardboiled.actor .window-content form header.sheet-header .chars-attribs .characteristics {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: x-large;
}

.hardboiled.actor .window-content form header.sheet-header .chars-attribs .characteristics input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 1.5em;
  font-size: smaller;
}

.hardboiled.actor .window-content form header.sheet-header .chars-attribs .attributes {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: large;
}

.hardboiled.actor .window-content form header.sheet-header .chars-attribs .attributes input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 2em;
  font-size: smaller;
}

.hardboiled.actor .window-content form .tab.skills.active {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -.3em;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-width: 0 0 10px 0;
  border-color: darkred;
  border-style: solid;
  padding: 0 .3em 2px .3em;
  margin: 0 0 2px 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.skillrow, .hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.talentrow {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.skillrow .item-name, .hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.talentrow .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.skillrow .item-value input, .hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.talentrow .item-value input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 2em;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list li.skillrow {
  margin: 0 5px 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  border-width: 0 2px 0 0;
  border-color: darkred;
  border-style: solid;
  padding: 0 2px 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-skills-section ol.items-list:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding: 0 0 0 6px;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0 .3em;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list li.weaponrow {
  margin: 0 5px 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list li.weaponrow, .hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list li.equipmentrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list .item-name, .hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list .item-skill {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 0px;
  flex: 2 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list .item-damage {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  border-width: 0 2px 0 0;
  border-color: darkred;
  border-style: solid;
  padding: 0 2px 0 0;
}

.hardboiled.actor .window-content form .tab.skills.active .actor-combat-section ol.items-list:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  padding: 0 0 0 6px;
}

.hardboiled.actor .window-content form .tab.background.active {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.actor .window-content form .tab.background.active .actor-notes-section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.actor .window-content form .tab.background.active .actor-notes-section div.editor {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 0;
}

.hardboiled.item {
  min-width: 520px;
  min-height: 480px;
}

.hardboiled.item .window-content {
  background: url(images/background-top-plain.png) top left/100% no-repeat, url(images/background-bottom.png) bottom left/100% no-repeat, url(images/background-bg.png) left/2.7% repeat-y, #f5e1bf;
  padding: 12px 5px 12px 16px;
}

.hardboiled.item .window-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.hardboiled.item .window-content form header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 10px;
}

.hardboiled.item .window-content form header.sheet-header .header-fields {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-width: 10px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
  font-size: xx-large;
}

.hardboiled.item .window-content form header.sheet-header .header-fields .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px;
  height: 55px;
  width: 55px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: white;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  border: 5px solid #d0a72e;
  border-radius: 5px;
}

.hardboiled.item .window-content form header.sheet-header .header-fields input[type="text"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
}

.hardboiled.item .window-content form .sheet-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.item .window-content form .sheet-body .item-item-section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: large;
  border-width: 0 0 2px 0;
  border-color: darkred;
  border-style: solid;
  padding: 0 0 2px 0;
  margin: 0 0 2px 0;
}

.hardboiled.item .window-content form .sheet-body .item-item-section div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.1em 0;
}

.hardboiled.item .window-content form .sheet-body .item-item-section div label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.item .window-content form .sheet-body .item-item-section div input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: smaller;
}

.hardboiled.item .window-content form .sheet-body .item-item-section div input[data-dtype="Number"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 3em;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-type-section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: large;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-type-section a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: large;
  border-width: 0 0 2px 0;
  border-color: darkred;
  border-style: solid;
  padding: 0 0 2px 0;
  margin: 0 0 2px 0;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.1em 0;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div input {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: smaller;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div input[data-dtype="Number"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 3em;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div input[data-dtype="Formula"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 6em;
}

.hardboiled.item .window-content form .sheet-body .item-weapon-stats-section div input + label {
  margin-left: 2px;
}

.hardboiled.item .window-content form .sheet-body .item-description-section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled.item .window-content form .sheet-body .item-description-section label {
  font-size: large;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.hardboiled.item .window-content form .sheet-body .item-description-section div.editor {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 0;
}

.hardboiled label {
  font-family: hardboiled-title;
}

.hardboiled label.char-label {
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
}

.hardboiled label.char-label.rollable:hover,
.hardboiled label.char-label.rollable:hover {
  color: darkred;
  text-shadow: 0 0 10px black;
}

.hardboiled.chat-card {
  background: no-repeat top/100% url(images/background-top.png), no-repeat bottom left/100% url(images/background-bottom.png), repeat-y left/2.7% url(images/background-bg.png), #f5e1bf;
}

.hardboiled header.card-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px 5px 0 10px;
}

.hardboiled header.card-header .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-width: 5px 1px;
  border-color: #d0a72e;
  border-style: solid;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  padding: .05em .15em;
  background-color: white;
}

.hardboiled header.card-header .description .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  background-color: white;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  border: 3px solid #d0a72e;
  border-radius: 3px;
}

.hardboiled header.card-header .description .description-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 150%;
}

.hardboiled .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 5px 10px 10px;
}

.hardboiled .card-body label {
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px grey;
  box-shadow: 0 0 4px grey;
  background: lightgrey;
  font-size: 200%;
  margin: 2px;
}

.hardboiled .card-body label.roll-result {
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hardboiled .card-body label.roll-result[data-success="true"] {
  color: green;
}

.hardboiled .card-body label.roll-result[data-success="false"] {
  color: darkred;
}

.hardboiled .card-body label.roll-success {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
}

.hardboiled .card-body .combat-flags-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hardboiled .card-body .combat-flags-section a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.hardboiled .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.hardboiled .tabs {
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d0a72e;
  height: 40px;
  font-size: x-large;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  z-index: 1;
}

.hardboiled .tabs .item {
  line-height: 40px;
  margin: 0 20px;
  border-width: 10px 1px 0 1px;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  padding: 0 5px 5px 5px;
}

.hardboiled .tabs .item:hover {
  color: darkred;
  text-shadow: 0 0 10px black;
}

.hardboiled .tabs .item.active {
  font-family: hardboiled-title;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-width: 10px 1px 0 1px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.hardboiled .tabs .item.active:hover {
  color: darkred;
  text-shadow: 0 0 10px black;
}

.hardboiled nav.sheet-tabs.tabs {
  border: 0;
  margin: 4px 0 -10px 0;
  height: auto;
}

.hardboiled .sheet-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 0;
  border-width: 10px 1px;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px grey;
  box-shadow: 0 0 8px grey;
  padding: .1em .3em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hardboiled .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-size: smaller;
}

.hardboiled .items-list .item-header {
  font-weight: bold;
}

.hardboiled .items-list .item {
  height: 22px;
  line-height: 20px;
}

.hardboiled .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  margin-right: 3px;
}

.hardboiled .items-list .item img {
  display: block;
  width: 20px;
  height: 20px;
}

.hardboiled .items-list .item-name {
  margin: 0;
}

.hardboiled .items-list .item-value {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: right;
}

.hardboiled .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: right;
  margin-left: 3px;
}

.hardboiled .items-list .item-button {
  text-align: center;
  border: 1px solid darkred;
  border-radius: 3px;
  background-color: lightgray;
  width: 100%;
  display: block;
}

#modifier-roll-form {
  margin: 10px 0;
}

#modifier-roll-form .dialog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#modifier-roll-form .dialog-wrapper .label-value {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#modifier-roll-form .dialog-wrapper .label-value label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 10px 0 0;
  font-family: inherit;
}

#modifier-roll-form .dialog-wrapper .label-value .slider {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#modifier-roll-form .dialog-wrapper .label-value .slider .slider-labels {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#modifier-roll-form .dialog-wrapper .label-value .slider .slider-labels span {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

#modifier-roll-form .dialog-wrapper .label-value .slider input {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
