@font-face {
	font-family: hardboiled-title;
	src: url("fonts/DecoturaICG.ttf");
}

@font-face {
	font-family: hardboiled-text;
	src: url("fonts/Kalam-Regular.ttf");
}

$font-primary: small hardboiled-text;