@font-face {
	font-family: hardboiled;
	src: url("fonts/DecoturaICG.ttf");
}

@font-face {
	font-family: hardboiled-inline;
	src: url("fonts/decoturaicginline.ttf");
}

$font-primary: medium hardboiled;