// Rules for text formatting

//
// Clickable content
//
.rollable {
	&:hover,
	&:focus {
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

//
// Editable areas
//
input[type="text"],
select {
	height: auto;
	border: 1px solid transparent;
	background: rgba(0, 0, 0, 0.02);
	color: #191813;
	margin: 0.2em;
}

input[type="text"]:hover,
input[type="text"]:focus {
	border: 1px solid #111;
	box-shadow: 0 0 8px red;
}

input[data-dtype="Number"] {
	width: 2em;
}

input:disabled,
select:disabled,
textarea:disabled {
	color: #4b4a44;
}

input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover,
input:disabled:focus,
select:disabled:focus,
textarea:disabled:focus {
	box-shadow: none !important;
	border: 1px solid transparent !important;
	outline: none !important;
}
