<form class="{{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="traits">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
			<div class="trait-fields">
				<div>
					<label>{{localize 'Hardboiled.Name'}}</label>
					<input name="name" type="text" data-dtype="String" value="{{actor.name}}" placeholder="{{localize 'Hardboiled.Name'}}"/>
					<label>{{localize 'Hardboiled.Profession'}}</label>
					<input name="data.profession" type="text" data-dtype="String" value="{{data.profession}}" placeholder="{{localize 'Hardboiled.Profession'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Nationality'}}</label>
					<input name="data.nationality" type="text" data-dtype="String" value="{{data.nationality}}" placeholder="{{localize 'Hardboiled.Nationality'}}"/>
					<label>{{localize 'Hardboiled.HomeTown'}}</label>
					<input name="data.homeTown" type="text" data-dtype="String" value="{{data.homeTown}}" placeholder="{{localize 'Hardboiled.HomeTown'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Age'}}</label>
					<input name="data.age" type="text" data-dtype="Number" value="{{data.age}}" placeholder="{{localize 'Hardboiled.Age'}}"/>
					<label>{{localize 'Hardboiled.Height'}}</label>
					<input name="data.height" type="text" data-dtype="Number" value="{{data.height}}" placeholder="{{localize 'Hardboiled.Height'}}"/>
					<label>{{localize 'Hardboiled.Weight'}}</label>
					<input name="data.weight" type="text" data-dtype="Number" value="{{data.weight}}" placeholder="{{localize 'Hardboiled.Weight'}}"/>
					<label>{{localize 'Hardboiled.Genre'}}</label>
					<input name="data.genre" type="text" data-dtype="String" value="{{data.genre}}" placeholder="{{localize 'Hardboiled.Genre'}}"/>
					<label>{{localize 'Hardboiled.Level'}}</label>
					<input name="data.level" type="text" data-dtype="Number" value="{{data.level}}" placeholder="{{localize 'Hardboiled.Level'}}"/>
					<label>{{localize 'Hardboiled.Experience'}}</label>
					<input name="data.experience" type="text" data-dtype="Number" value="{{data.experience}}" placeholder="{{localize 'Hardboiled.Experience'}}"/>
				</div>
			</div>
		</div>
		<div class="chars-attribs">
			<div class="characteristics">
				{{#each data.characteristics as |char key|}}
				<div>
					<label class="char-label rollable"
					       data-attributeCheck="{{key}}">{{localize char.label}}</label>
					<input name="data.characteristics.{{key}}.value" type="number" data-dtype="Number" value="{{char.value}}" placeholder="{{localize char.short}}"/>
				</div>
				{{/each}}
			</div>
			<div class="attributes">
				<div>
					<label class="rollable" data-combatCheck="none">{{localize data.attributes.punch.label}}</label>
					<input name="data.attributes.punch.value" type="number" data-dtype="Number" value="{{data.attributes.punch.value}}">
				</div>
				<div>
					<label>{{localize data.attributes.movement.label}}</label>
					<input name="data.attributes.movement.value" type="number" data-dtype="Number" value="{{data.attributes.movement.value}}">
				</div>
				<div>
					<label>{{localize data.attributes.hp.label}}</label>
					<input name="data.attributes.hp.value" type="number" data-dtype="Number" value="{{data.attributes.hp.value}}">
					/
					<input name="data.attributes.maxhp.value" type="number" data-dtype="Number" value="{{data.attributes.maxhp.value}}">
				</div>
				<div>
					<label>{{localize data.flags.injured.label}}</label>
					<i class="{{data.flags.unconscious.icon}}" style="color:{{data.flags.unconscious.color}};" title="{{localize data.flags.unconscious.label}}"></i>
					{{#each data.flags.injured.values as |injury key|}}
					{{#if injury.icon}}
					<i class="{{injury.icon}}" style="color:{{injury.color}};" title="{{localize injury.label}}"></i>
					{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize "Hardboiled.Skills"}}</a>
		<a class="item" data-tab="background">{{localize "Hardboiled.Background"}}</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
	
		{{!-- Owned Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			<div class="actor-skills-section">
				{{> "systems/hardboiled/templates/actor/parts/actor-skills.html"}}
				{{> "systems/hardboiled/templates/actor/parts/actor-talents.html"}}
			</div>
			<div class="actor-combat-section">
				{{> "systems/hardboiled/templates/actor/parts/actor-combat.html"}}
				{{> "systems/hardboiled/templates/actor/parts/actor-equipment.html"}}
			</div>
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab background" data-group="primary" data-tab="background">
			{{> "systems/hardboiled/templates/actor/parts/actor-notes.html"}}
		</div>
	</section>
</form>

