<form class="{{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="traits">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
			<div class="trait-fields">
				<div>
					<label>{{localize 'Hardboiled.Name'}}</label>
					<input name="name" type="text" data-dtype="String" value="{{actor.name}}" placeholder="{{localize 'Hardboiled.Name'}}"/>
					<label>{{localize 'Hardboiled.Profession'}}</label>
					<input name="data.profession" type="text" data-dtype="String" value="{{data.profession}}" placeholder="{{localize 'Hardboiled.Profession'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Nationality'}}</label>
					<input name="data.nationality" type="text" data-dtype="String" value="{{data.nationality}}" placeholder="{{localize 'Hardboiled.Nationality'}}"/>
					<label>{{localize 'Hardboiled.HomeTown'}}</label>
					<input name="data.homeTown" type="text" data-dtype="String" value="{{data.homeTown}}" placeholder="{{localize 'Hardboiled.HomeTown'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Age'}}</label>
					<input name="data.age" type="text" data-dtype="Number" value="{{data.age}}" placeholder="{{localize 'Hardboiled.Age'}}"/>
					<label>{{localize 'Hardboiled.Height'}}</label>
					<input name="data.height" type="text" data-dtype="Number" value="{{data.height}}" placeholder="{{localize 'Hardboiled.Height'}}"/>
					<label>{{localize 'Hardboiled.Weight'}}</label>
					<input name="data.weight" type="text" data-dtype="Number" value="{{data.weight}}" placeholder="{{localize 'Hardboiled.Weight'}}"/>
					<label>{{localize 'Hardboiled.Genre'}}</label>
					<input name="data.genre" type="text" data-dtype="String" value="{{data.genre}}" placeholder="{{localize 'Hardboiled.Genre'}}"/>
					<label>{{localize 'Hardboiled.Level'}}</label>
					<input name="data.level" type="text" data-dtype="Number" value="{{data.level}}" placeholder="{{localize 'Hardboiled.Level'}}"/>
					<label>{{localize 'Hardboiled.Experience'}}</label>
					<input name="data.experience" type="text" data-dtype="Number" value="{{data.experience}}" placeholder="{{localize 'Hardboiled.Experience'}}"/>
				</div>
			</div>
		</div>
		<div class="chars-attribs">
			<div class="characteristics">
				{{#each data.characteristics as |char key|}}
				<div>
					<label class="char-label rollable"
					       data-attributeCheck="{{key}}">{{localize char.label}}</label>
					<input name="data.characteristics.{{key}}.value" type="number" data-dtype="Number" value="{{char.value}}" placeholder="{{localize char.short}}"/>
				</div>
				{{/each}}
			</div>
			<div class="attributes">
				<div>
					<label>{{localize data.attributes.punch.label}}</label>
					<input name="data.attributes.punch.value" type="number" data-dtype="Number" value="{{data.attributes.punch.value}}">
				</div>
				<div>
					<label>{{localize data.attributes.movement.label}}</label>
					<input name="data.attributes.movement.value" type="number" data-dtype="Number" value="{{data.attributes.movement.value}}">
				</div>
				<div>
					<label>{{localize data.attributes.hp.label}}</label>
					<input name="data.attributes.hp.value" type="number" data-dtype="Number" value="{{data.attributes.hp.value}}">
					/
					<input name="data.attributes.maxhp.value" type="number" data-dtype="Number" value="{{data.attributes.maxhp.value}}">
				</div>
				<div>
					<label>{{localize data.flags.injured.label}}</label>
					<i class="{{data.flags.unconscious.icon}}" style="color:{{data.flags.unconscious.color}};" title="{{localize data.flags.unconscious.label}}"></i>
					{{#each data.flags.injured.values as |injury key|}}
					{{#if injury.icon}}
					<i class="{{injury.icon}}" style="color:{{injury.color}};" title="{{localize injury.label}}"></i>
					{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize "Hardboiled.Skills"}}</a>
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="features">Features</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
	
		{{!-- Owned Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{> "systems/hardboiled/templates/actor/parts/actor-skills.html"}}
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			<ol class="items-list">
				<li class="item flexrow item-header">
					<div class="item-image"></div>
					<div class="item-name">Name</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
					</div>
				</li>
				{{#each actor.gear as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
					<h4 class="item-name">{{item.name}}</h4>
					<div class="item-controls">
						<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</ol>
		</div>
		
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<ol class="items-list">
				<li class="item flexrow item-header">
					<div class="item-image"></div>
					<div class="item-name">Name</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add item</a>
					</div>
				</li>
				{{#each actor.features as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
					<h4 class="item-name">{{item.name}}</h4>
					<div class="item-controls">
						<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
					</div>
				</li>
				{{/each}}
			</ol>
		</div>

	</section>
</form>

