<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="traits">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
			<div class="trait-fields">
				<div>
					<label>{{localize 'Hardboiled.Name'}}</label>
					<input name="name" type="text" data-dtype="String" value="{{actor.name}}" placeholder="{{localize 'Hardboiled.Name'}}"/>
					<label>{{localize 'Hardboiled.Profession'}}</label>
					<input name="system.profession" type="text" data-dtype="String" value="{{actor.system.profession}}" placeholder="{{localize 'Hardboiled.Profession'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Nationality'}}</label>
					<input name="system.nationality" type="text" data-dtype="String" value="{{actor.system.nationality}}" placeholder="{{localize 'Hardboiled.Nationality'}}"/>
					<label>{{localize 'Hardboiled.HomeTown'}}</label>
					<input name="system.homeTown" type="text" data-dtype="String" value="{{actor.system.homeTown}}" placeholder="{{localize 'Hardboiled.HomeTown'}}"/>
				</div>
				<div>
					<label>{{localize 'Hardboiled.Age'}}</label>
					<input name="system.age" type="text" data-dtype="Number" value="{{actor.system.age}}" placeholder="{{localize 'Hardboiled.Age'}}"/>
					<label>{{localize 'Hardboiled.Height'}}</label>
					<input name="system.height" type="text" data-dtype="Number" value="{{actor.system.height}}" placeholder="{{localize 'Hardboiled.Height'}}"/>
					<label>{{localize 'Hardboiled.Weight'}}</label>
					<input name="system.weight" type="text" data-dtype="Number" value="{{actor.system.weight}}" placeholder="{{localize 'Hardboiled.Weight'}}"/>
					<label>{{localize 'Hardboiled.Genre'}}</label>
					<input name="system.genre" type="text" data-dtype="String" value="{{actor.system.genre}}" placeholder="{{localize 'Hardboiled.Genre'}}"/>
					<label>{{localize 'Hardboiled.Level'}}</label>
					<input name="system.level" type="text" data-dtype="Number" value="{{actor.system.level}}" placeholder="{{localize 'Hardboiled.Level'}}"/>
					<label>{{localize 'Hardboiled.Experience'}}</label>
					<input name="system.experience" type="text" data-dtype="Number" value="{{actor.system.experience}}" placeholder="{{localize 'Hardboiled.Experience'}}"/>
				</div>
			</div>
		</div>
		<div class="chars-attribs">
			<div class="characteristics">
				{{#each actor.system.characteristics as |char key|}}
				<div>
					<label class="char-label rollable"
					       data-attributeCheck="{{key}}">{{localize char.label}}</label>
					<input name="system.characteristics.{{key}}.value" type="number" data-dtype="Number" value="{{char.value}}" placeholder="{{localize char.short}}"/>
				</div>
				{{/each}}
			</div>
			<div class="attributes">
				<div>
					<label class="rollable" data-combatCheck="none">{{localize system.attributes.punch.label}}</label>
					<input name="system.attributes.punch.value" type="number" data-dtype="Number" value="{{actor.system.attributes.punch.value}}">
				</div>
				<div>
					<label>{{localize system.attributes.movement.label}}</label>
					<input name="system.attributes.movement.value" type="number" data-dtype="Number" value="{{actor.system.attributes.movement.value}}">
				</div>
				<div>
					<label>{{localize system.attributes.hp.label}}</label>
					<input name="system.attributes.hp.value" class="hp-value" type="number" data-dtype="Number" value="{{actor.system.attributes.hp.value}}">
					/
					<input name="system.attributes.maxhp.value" type="number" data-dtype="Number" value="{{actor.system.attributes.maxhp.value}}">
				</div>
				<div>
					<label>{{localize 'Hardboiled.Injuries'}}</label>
					<i class="fas fa-dizzy toggle-icon {{#if actor.system.flags.unconscious}}icon-on{{/if}}" title="{{localize 'Hardboiled.StatusUnconscious'}}" data-property-id="unconscious"
					   data-value="{{#if actor.system.flags.unconscious}}true{{else}}false{{/if}}"></i>
					<i class="fas fa-user-injured toggle-icon {{#if actor.system.flags.injured}}icon-on{{/if}}" title="{{localize 'Hardboiled.StatusInjured'}}" data-property-id="injured"
					   data-value="{{#if actor.system.flags.injured}}true{{else}}false{{/if}}"></i>
					<i class="fas fa-heartbeat toggle-icon {{#if actor.system.flags.critical}}icon-on{{/if}}" title="{{localize 'Hardboiled.StatusCritical'}}" data-property-id="critical"
					   data-value="{{#if actor.system.flags.critical}}true{{else}}false{{/if}}"></i>
					<i class="fas fa-heart-broken toggle-icon {{#if actor.system.flags.dying}}icon-on{{/if}}" title="{{localize 'Hardboiled.StatusDying'}}" data-property-id="dying"
					   data-value="{{#if actor.system.flags.dying}}true{{else}}false{{/if}}"></i>
					<i class="fas fa-skull toggle-icon {{#if actor.system.flags.dead}}icon-on{{/if}}" title="{{localize 'Hardboiled.StatusDead'}}" data-property-id="dead"
					   data-value="{{#if actor.system.flags.dead}}true{{else}}false{{/if}}"></i>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize "Hardboiled.Skills"}}</a>
		<a class="item" data-tab="background">{{localize "Hardboiled.Background"}}</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
	
		{{!-- Owned Skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			<div class="actor-skills-section">
				{{> "systems/hardboiled/templates/actor/parts/actor-skills.html"}}
				{{> "systems/hardboiled/templates/actor/parts/actor-talents.html"}}
			</div>
			<div class="actor-combat-section">
				{{> "systems/hardboiled/templates/actor/parts/actor-combat.html"}}
				{{> "systems/hardboiled/templates/actor/parts/actor-equipment.html"}}
			</div>
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab background" data-group="primary" data-tab="background">
			{{> "systems/hardboiled/templates/actor/parts/actor-notes.html"}}
		</div>
	</section>
</form>

