<div class="item-profession-skillls-section flexcol" style="min-height: 200px;">
    <div class="main-skills-section">
        <h2>{{localize "Hardboiled.MainSkills"}}</h2>
        {{> "systems/hardboiled/templates/item/parts/item-profession-main-skills-section.html"}}
    </div>
    <div class="secondary-skills-section">
        <h2>{{localize "Hardboiled.SecondarySkills"}}</h2>
        {{> "systems/hardboiled/templates/item/parts/item-profession-secondary-skills-section.html"}}
    </div>
</div>