<div class="item-weapon-type-section">
	<a class="toggle-switch {{#if data.flags.melee}}switched-on{{/if}}" title="{{localize "Hardboiled.MeleeWeapon"}}" data-property-id="melee">{{localize "Hardboiled.MeleeWeapon"}}</a>
	<a class="toggle-switch {{#if data.flags.range}}switched-on{{/if}}" title="{{localize "Hardboiled.RangeWeapon"}}" data-property-id="range">{{localize "Hardboiled.RangeWeapon"}}</a>
	<a class="toggle-switch {{#if data.flags.automathic}}switched-on{{/if}}" title="{{localize "Hardboiled.AutomathicWeapon"}}" data-property-id="automathic">{{localize "Hardboiled.AutomathicWeapon"}}</a>
</div>
<div class="item-weapon-stats-section">
	<div>
		<label>{{localize "Hardboiled.Damage"}}</label>
		<input name="data.damage" type="text" data-dtype="Formula" value="{{data.damage}}" title="{{localize "Hardboiled.Tooltip.Damage"}}"/>
	</div>
	{{#if data.flags.range}}
	<div>
		<label>{{localize "Hardboiled.Range"}}</label>
		<input name="data.range.short" type="text" data-dtype="Number" value="{{data.range.short}}" title="{{localize "Hardboiled.Tooltip.RangeShort"}}"/>
		/
		<input name="data.range.basic" type="text" data-dtype="Number" value="{{data.range.basic}}" title="{{localize "Hardboiled.Tooltip.RangeBasic"}}"/>
	</div>
	<div>
		<label>{{localize "Hardboiled.Ammunition"}}</label>
		<input name="data.ammunition.max" type="text" data-dtype="Number" value="{{data.ammunition.max}}"/>
	</div>
	{{#if data.flags.automathic}}
	<div>
		<label>{{localize "Hardboiled.FireRate"}}</label>
		<input name="data.fireRate.short" type="text" data-dtype="Number" value="{{data.fireRate.short}}" title="{{localize "Hardboiled.Tooltip.BurstShort"}}"/>
		/
		<input name="data.fireRate.medium" type="text" data-dtype="Number" value="{{data.fireRate.medium}}" title="{{localize "Hardboiled.Tooltip.BurstMedium"}}"/>
		/
		<input name="data.fireRate.complete" type="text" data-dtype="Number" value="{{data.fireRate.complete}}" title="{{localize "Hardboiled.Tooltip.BurstComplete"}}"/>
	</div>
	{{/if}}
	{{/if}}
	</div>
</div>