<div class="item-item-section">
	<div>
		<label>{{localize "Hardboiled.Weight"}}</label>
		<input name="data.weight" type="text" data-dtype="Number" value="{{data.data.weight}}" placeholder="{{localize "Hardboiled.Weight"}}"/>
		<label>{{localize "Hardboiled.Cost"}}</label>
		<input name="data.cost" type="text" data-dtype="Number" value="{{data.data.cost}}" placeholder="{{localize "Hardboiled.Cost"}}"/>
		<label>{{localize "Hardboiled.Notes"}}</label>
		<input name="data.notes" type="text" value="{{data.data.notes}}" placeholder="{{localize "Hardboiled.Notes"}}"/>
	</div>
</div>