<div class="item-item-section">
	<div>
		<!-- 
		<div>
			<label>{{localize "Hardboiled.Vigour"}}</label>
			<input name="system.check " type="text" data-dtype="text" value="{{item.system.check}}" readonly="readonly" />
		</div>
		-->
		<div>
			<label for="system.damagePassed">{{localize "Hardboiled.DamagePassed"}}</label><br/>
			<input id="system.damagePassed" name="system.damagePassed" type="text" data-dtype="text" value="{{item.system.damagePassed}}" placeholder="{{localize "Hardboiled.DamagePassed"}}"/><br/>
		</div>
		<div>
			<label for="system.damageFailed" >{{localize "Hardboiled.DamageFailed"}}</label><br/>
			<input id="system.damageFailed" name="system.damageFailed" type="text" data-dtype="text" value="{{item.system.damageFailed}}" placeholder="{{localize "Hardboiled.DamageFailed"}}"/>
		</div>
	</div>
</div>