<div class="item-item-section">
	<div>
		<label>{{localize "Hardboiled.Weight"}}</label>
		<input name="system.weight" type="text" data-dtype="Number" value="{{item.system.weight}}" placeholder="{{localize "Hardboiled.Weight"}}"/>
		<label>{{localize "Hardboiled.Cost"}}</label>
		<input name="system.cost" type="text" data-dtype="Number" value="{{item.system.cost}}" placeholder="{{localize "Hardboiled.Cost"}}"/>
		<label>{{localize "Hardboiled.Notes"}}</label>
		<input name="system.notes" type="text" value="{{item.system.notes}}" placeholder="{{localize "Hardboiled.Notes"}}"/>
	</div>
</div>