//
// Character sheet
//
@include unify-parent(".actor") {

	.window-content {
		background: url(images/background-top.png) top left/100% no-repeat,
		url(images/background-bottom.png) bottom left/100% no-repeat,
		url(images/background-bg.png) left/2.7% repeat-y,
		$c-paper;
		padding: 40px 5px 0 20px;
	}
	
	header.sheet-header {
		flex: 0 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-start;
		overflow: visible;
		
		.traits {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 10px;
	
			.profile-img {
				flex: 0 0 100px;
				height: 100px;
				margin: 0 5px 0 0;
				object-fit: cover;
				object-position: top;
				background-color: white;
				transform: rotate(-5deg);
				box-shadow: 0 0 8px grey;
				border: 5px solid $c-mustard;
				border-radius: 5px;
			}
			
			.trait-fields {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: flex-start;
				flex: 1 1 auto;
				border-width: 10px 1px;
				border-color: $c-mustard;
				border-style: solid;
				border-radius: 5px;
				box-shadow: 0 0 8px grey;
				padding: .1em .3em;
				background-color: white;
				font-size: large;
				
				input {
					font-size: smaller;
				}
				
				.main-traits {
					display: flex;
					flex-direction: column;
					flex: 3 1 auto;
					margin-right: .3em;
					
					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						margin: 0.1em 0;
					}
					
					label {
						flex: 0 0 auto;
					}
					
					input {
						flex: 0 1 auto;
					}
						
					input[data-dtype="Number"] {
						flex: 0 0 auto;
						width: 2.2em;
					}
				}
				
				.secondary-traits {
					display:flex;
					flex-direction: column;
					flex: 1 1 auto;
					
					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 0.1em 0;
					}
					
					label {
						flex: 1 0 auto;
					}
					
					input {
						flex: 1 1 auto;
					}
				}
			}
		}
		
		.chars-attribs {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: flex-start;
			border-width: 10px 1px;
			border-color: darkred;
			border-style: solid;
			border-radius: 5px;
			box-shadow: 0 0 8px grey;
			padding: .1em .3em;
			background-color: white;
			
			.characteristics {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: space-between;
				font-size: x-large;
				
				input {
					flex: 0 0 auto;
					width: 1.5em;
					font-size: smaller;
				}
			}
			
			.attributes {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: space-between;
				font-size: large;
				
				input {
					flex: 0 1 auto;
					width: 2em;
					font-size: smaller;
				}
			}
		}
	}
	
	// Skills tab
	.tab.skills {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
		
		ol.items-list {
			width: 30%;
			
			li.skillrow {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: centr;
			}
		}
		
		.item-value input {
			flex: 0 1 auto;
			width: 2em;
		}
		
		.item-name {
			flex: 1 0 auto;
		}
	}
}

//
// Item skill sheet
//
@include unify-parent(".item") {

	.window-content {
		background: url(images/background-top-plain.png) top left/100% no-repeat,
		url(images/background-bottom.png) bottom left/100% no-repeat,
		url(images/background-bg.png) left/2.7% repeat-y,
		$c-paper;
		padding: 12px 5px 0 16px;
	}
	
	header.sheet-header {
		flex: 0 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		
		.profile-img {
			flex: 0 0 55px;
			height: 55px;
			width: 55px;
			object-fit: cover;
			object-position: top;
			background-color: white;
			transform: rotate(-5deg);
			box-shadow: 0 0 8px grey;
			border: 5px solid $c-mustard;
			border-radius: 5px;
		}
			
		.header-fields {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;
			flex: 1 1 auto;
			border-width: 10px 1px;
			border-color: $c-mustard;
			border-style: solid;
			border-radius: 5px;
			box-shadow: 0 0 8px grey;
			padding: 0 .3em;
			background-color: white;
			font-size: xx-large;
			
			input[type="text"] {
				margin: 0;
			}
		}
	}
}

//
// Fonts for titles and labels
//
%label, label {
	font-family: hardboiled-title;
}

// Outlined labels
@mixin outlined($color: #000) {
	@extend label;
	text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color, 1px 1px 0 $color;
}

// Characteristics labels
label.char-label {
	@include outlined(#000);
	color: $c-mustard;
}
			
label.char-label.rollable:hover,
label.char-label.rollable:hover {
	color: darkred;
	text-shadow: 0 0 10px black;
}

// Main font for Hardboiled sheets


.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}