.items-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	font-size: smaller;
	
	.item-header {
		font-weight: bold;
	}
	
	.item {
		height: 22px;
		line-height: 20px;
		
		.item-image {
			flex: 0 0 20px;
			margin-right: 3px;
		}
		
		img {
			display: block;
			width: 20px;
			height: 20px;
		}
	}
	
	.item-name {
		margin: 0;
	}
	
	.item-value {
		flex: 0 0 auto;
		text-align: right;
	}
	
	.item-controls {
		flex: 0 0 auto;
		text-align: right;
		margin-left: 3px;
	}
	
	.item-button {
		text-align: center;
		border: 1px solid darkred;
		border-radius: 3px;
		background-color: lightgray;
		width: 100%;
		display: block;
	}
}