// Tabs
.tabs {
	@include outlined(#000);
	color: $c-mustard;
	height: 40px;
	font-size: x-large;
	
	.item {
		line-height: 40px;
		margin: 0 20px;
		border-width: 10px 1px 0 1px;
		border-color: transparent;
		border-style: solid;
		border-radius: 5px 5px 0 0;
		padding: 0 5px 5px 5px;
		
		&:hover {
			color: darkred;
			text-shadow: 0 0 10px black;
		}
		
		@include unify-parent(".active") {
			@include outlined(#000);
			border-width: 10px 1px 0 1px;
			border-color: darkred;
			border-style: solid;
			border-radius: 5px 5px 0 0;
			background-color: $c-white;
		}
	}
}
	
.sheet-body {
	border-width: 10px 1px;
	border-color: darkred;
	border-style: solid;
	border-radius: 5px;
	box-shadow: 0 0 8px grey;
	padding: 0.5em;
	background-color: white;
}

nav.sheet-tabs.tabs {
	border: 0;
	margin: 4px 0 -10px 0;
	height: auto;
}
