// Tabs
.tabs {
	@include outlined(#000);
	color: $c-mustard;
	height: 40px;
	font-size: x-large;
	flex: 0 0 auto;
	z-index: 1;
	
	.item {
		line-height: 40px;
		margin: 0 20px;
		border-width: 10px 1px 0 1px;
		border-color: transparent;
		border-style: solid;
		border-radius: 5px 5px 0 0;
		padding: 0 5px 5px 5px;
		
		&:hover {
			color: darkred;
			text-shadow: 0 0 10px black;
		}
		
		@include unify-parent(".active") {
			@include outlined(#000);
			border-width: 10px 1px 0 1px;
			border-color: darkred;
			border-style: solid;
			border-radius: 5px 5px 0 0;
			background-color: $c-white;
		
			&:hover {
				color: darkred;
				text-shadow: 0 0 10px black;
			}
		}
	}
}

nav.sheet-tabs.tabs {
	border: 0;
	margin: 4px 0 -10px 0;
	height: auto;
}
	
.sheet-body {
	// Sheet body is the block to stretch
	flex: 1 0 auto;
	height: 0;    // height is 0px so it's actual size is got from stretching
	// Hardboiled frame
	@include hardboiled-frame(darkred);
	// Content will be in a row
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
