
<form class="{{cssClass}}" id="modifier-roll-form">

    <div class="flexcol">
        <div class="flexrow" style="padding: 4px 0;">
            <div style="flex: 1;"><label>{{localize "Hardboiled.Modifier"}}</label></div>
            <div style="flex: 1;display: flex;flex-direction: column;">
                <div class="flexrow">
                    <span style="flex: 1; text-align: left;">-30</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">-20</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">-10</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">0</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: center;">+10</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: right;">+20</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span style="flex: 1; text-align: right;">+30</span>
                </div>
                <input type="range" name="modifier" min="-3" max="3" value="0" class="slider" id="myslider">
            </div>
        </div>
    </div>
</form>
