<form class="{{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="header-fields">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			<input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
		</div>
	</header>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{> "systems/hardboiled/templates/item/parts/item-item-section.html"}}
		{{> "systems/hardboiled/templates/item/parts/item-weapon-section.html"}}
		{{> "systems/hardboiled/templates/item/parts/item-description-section.html"}}
	</section>
</form>
